nav {
  background-color: rgb(101, 5, 5);
  color: white;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1;
}

.sidebar {
  position: sticky;
  top: 0;
  align-self: flex-start;
}

.logo {
  height: 30px;
}
